<footer>
        <a href="#inicio" class="arriba">
            <i class="fa-solid fa-angles-up"></i>
        </a>
        <div class="redes">
            <span><h3>Ever José Ramirez Quic</h3></span>
            <span><h4>2290-19-4463</h4></span>
            <span><h4>eramirezq2@miumg.edu.gt</h4></span>
            {{!-- <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a> --}}
         
        </div>
    <script src="JS/script.js"></script>
    </footer>
