<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
     integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="./CSS/normalize.css">
    <link rel="stylesheet" href="./CSS/estiloProyecto.css">
</head>
<body>
    

{{>header}}




<section id="portfolio" class="portfolio">
    <div class="contenido-seccion">
        <br>
        <br>
{{!-- 

        <div class="git">
        <a href="https://github.com/EverRamirezUMG/Aplicacion-YARGS.git">
            <img src="./IMG/github.png" class="gitimg" alt="">
            
        </a>
        
    </div> --}}

    <div class="tituloP">
        <h2>Intereses</h2> 

    </div>

        <div class="definicion">
            <span>Como persona tengo algunos Hobbies las cuales las quiero compartir por medio de imagenes capturadas con mi camara en cada aventura que he realizado</span>
        </div>
             <h2>Fotografia</h2>
        <div id="Fotografia" class="galeria">

                <div class="proyecto">
               <img src="./IMG/P0/01-Fotografia/01.jpg"  alt="">
              <div class="descripcion">
                    <h3>Cascada</h3>
                    <p>Esta cascada esta ubicada en las faldas del volcan Atitlán, tuvimos que caminar más de 4 horas para llegar a este hermoso lugar</p>
                </div>
            </div>
        



             <div class="proyecto">
                <img src="./IMG/P0/01-Fotografia/02.jpg"  alt="">
                <img src="./IMG/P0/01-Fotografia/06.jpg"  alt="">
               <div class="descripcion">
                     <h3>Volvan de Fuego y mirador Rey Tepepul</h3>
                     <p>El majestuoso volcán de Fuego es algo digno de ver por sus increibles errupciones, el mirador Rey Tepeul se ubica en Santiago Atitlán, es uan reserva natural y en ella vive el ave nacina, el Quetzal </p>
                 </div>
             </div>



             <div class="proyecto">
                <img src="./IMG/P0/01-Fotografia/03.jpg"  alt="">
               <div class="descripcion">
                     <h3>Volcán de Fuego</h3>
                     <p>El volcán de Fuego es uno de los volcanes mas activos de Guatemala, hace errupciones constantemente y es algo increible de ver</p>
                 </div>
             </div>


             <div class="proyecto">
                <img src="./IMG/P0/01-Fotografia/04.jpg"  alt="">
               <div class="descripcion">
                     <h3>Atardecer en el Bambú</h3>
                     <p>Esta foto fue capturada en el hotel Bambú ubicada en Santiago Atitlán, Sololá, fue una de mis mejores fotos por la composicion que tenia en ese momento cuando la capture, por la forma en la que estaban ordenadas los cayacs</p>
                 </div>
             </div>

             <div class="proyecto">
                <img src="./IMG/P0/01-Fotografia/05.jpg"  alt="">
               <div class="descripcion">
                     <h3>Abriendo un portal</h3>
                     <p>PAra consegur este efecto en la foto, se uso la tecnica de larga exposicion, y hacer girar una estrellita (fuegos artificiales), atarlo a una cuerda y hacerlo girar</p>
                 </div>
             </div>



             <div class="proyecto">
                <img src="./IMG/P0/01-Fotografia/20.png"  alt="">
                <img src="./IMG/P0/01-Fotografia/21.png"  alt="">
               <div class="descripcion">
                     <h3>Fotomontaje y Quetzal</h3>
                     <p>La primera foto es un montaje realizado con una amiga en la cual sosteine una mariposa ficticia en la mano, en la sagunda foto es del ave nacional de Guatemala tomada en la reserva natural Rey Tepepul en Atitlán</p>
                 </div>
             </div>
         

        </div>

<h2>Senderismo</h2>
        <div id="Senderismo" class="galeria">
         
             <div class="proyecto">
                <img src="./IMG/P0/02-Senderismo/01.jpg"  alt="">
               <div class="descripcion">
                     <h3>Bosque</h3>
                     <p>CAminando por el bosque en busqueda de una cascada </p>
                 </div>
             </div>
         
             <div class="proyecto">
                <img src="./IMG/P0/02-Senderismo/05.jpg"  alt="">
               <div class="descripcion">
                     <h3>En la cumbre del volcan Acatenango</h3>
                     <p>Foto tomada en la cumbre del vlolcan Acatenango a temperaturas bajo 0</p>
                 </div>
             </div>
         
             <div class="proyecto">
                <img src="./IMG/P0/02-Senderismo/03.jpg"  alt="">
               <div class="descripcion">
                     <h3>Temperaturas bajo 0 en el Acatenango</h3>
                     <p>La cumbre del volcan Acatenango se vistio de blanco por la escarcha producida por las bajas temperaturas</p>
                 </div>
             </div>
         
         
             <div class="proyecto">
                <img src="./IMG/P0/02-Senderismo/07.jpg"  alt="">
               <div class="descripcion">
                     <h3>Caminando</h3>
                     <p>Caminando hacia la cumbre de uno de los mejores volcanes de Guatemala</p>
                 </div>
             </div>


             <div class="proyecto">
                <img src="./IMG/P0/02-Senderismo/06.jpg"  alt="">
                <img src="./IMG/P0/02-Senderismo/09.jpg"  alt="">
               <div class="descripcion">
                     <h3>Temperatura bajo 0</h3>
                     <p>he aqui una prueba de las bajas temperaturas que puede llegar el clima en un volcan y los hermosos paisajes que estos ofrecen, parecia nieve</p>
                 </div>
             </div>

             <div class="proyecto">
                <img src="./IMG/P0/02-Senderismo/08.jpg"  alt="">
               <div class="descripcion">
                     <h3>Dentro de una cueva</h3>
                     <p>Una de las grandes aventuras que tuve con unos amigos y familiares fue visitar una cueva que esta ubicada en las faldas del volcan Atitlán, esta cueva tiene una altira de aproximadamente 20 mts y tiene una longitud de aproximadamente 200mts, para llegar a ella es necesario hacer una caminta de mas de 5 horas</p>
                 </div>
             </div>


          
            
        </div>

<h2>Camping</h2>
        <div id="Camping" class="galeria">
         
             <div class="proyecto">
                <img src="./IMG/P0/03-Camping/01.jpg"  alt="">
               <div class="descripcion">
                     <h3>Rostro Maya</h3>
                     <p>Acampando en el Rostro Maya en san Juan la Laguna </p>
                 </div>
             </div>
         
             <div class="proyecto">
                <img src="./IMG/P0/03-Camping/05.jpg"  alt="">
               <div class="descripcion">
                     <h3>Osa Mayor</h3>
                     <p>Admirando la constelacion de la Osa mayor</p>
                 </div>
             </div>
         
             <div class="proyecto">
                <img src="./IMG/P0/03-Camping/03.jpg"  alt="">
               <div class="descripcion">
                     <h3>Acatenango</h3>
                     <p>Acampando en el volxan Acatenango con una de las mejores vistas hacia el volcan de Fuego</p>
                 </div>
             </div>
         
         
             <div class="proyecto">
                <img src="./IMG/P0/03-Camping/07.jpg"  alt="">
               <div class="descripcion">
                     <h3>Volcan Atialán</h3>
                     <p>Una increible vista desde el volcan Atitlán</p>
                 </div>
             </div>


             <div class="proyecto">
                <img src="./IMG/P0/03-Camping/06.jpg"  alt="">
                <img src="./IMG/P0/03-Camping/09.jpg"  alt="">
               <div class="descripcion">
                     <h3>Constelacion de Orion</h3>
                     <p>Foto de la constelacoin de Orion tomada desde el mirador Rostro Maya en san Juan la Laguna</p>
                 </div>
             </div>

             <div class="proyecto">
                <img src="./IMG/P0/03-Camping/08.jpg"  alt="">
               <div class="descripcion">
                     <h3>Preparando la cena</h3>
                     <p> Conviviendo preparando la cena con mis amigos en un mirador ubiaco en la bahia de Atitlán</p>
                 </div>
             </div>


          
            
        </div>


<h2>Astronomia</h2>
        <div id="Astronomia" class="galeria">
         
             <div class="proyecto">
                <img src="./IMG/P0/04-Astronomia/01.jpg"  alt="">
                <img src="./IMG/P0/04-Astronomia/12.jpg"  alt="">
               <div class="descripcion">
                     <h3>Vía Láctea</h3>
                     <p>Foto panoramica de la vía Lactea tomada justo antes del amanecer desde un mirador ubicado en la bahia de Atitlán  </p>
                 </div>
             </div>
         
             <div class="proyecto">
                <img src="./IMG/P0/04-Astronomia/02.jpg"  alt="">
               <div class="descripcion">
                     <h3>Andromeda</h3>
                     <p>Foto de la galaxia de Andromeda</p>
                 </div>
             </div>
         
             <div class="proyecto">
                <img src="./IMG/P0/04-Astronomia/03.jpg"  alt="">
               <div class="descripcion">
                     <h3>Neowise</h3>
                     <p>Foto del cometa Neowise tomada en el mes de agosto de 2020</p>
                 </div>
             </div>
         
         
             <div class="proyecto">
                <img src="./IMG/P0/04-Astronomia/04.jpg"  alt="">
               <div class="descripcion">
                     <h3>Via Láctea</h3>
                     <p>Foto de la Vía Láctea tomada a orrillas del lago Atitlan</p>
                 </div>
             </div>


             <div class="proyecto">
                <img src="./IMG/P0/04-Astronomia/05.jpg"  alt="">
                <img src="./IMG/P0/04-Astronomia/07.jpg"  alt="">
               <div class="descripcion">
                     <h3>Fotos de la Luna</h3>
                     <p>Fotos de la luna tomada en sus diferentes fases</p>
                 </div>
             </div>

             <div class="proyecto">
                <img src="./IMG/P0/04-Astronomia/08.jpg"  alt="">
                <img src="./IMG/P0/04-Astronomia/16.jpg"  alt="">
               <div class="descripcion">
                     <h3>Eclipse Lunar y Solar</h3>
                     <p> </p>
                 </div>
             </div>


          
            
        </div>




    </div>
</section>
{{> footer}}
</body>
</html>