<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
     integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="./CSS/normalize.css">
    <link rel="stylesheet" href="./CSS/estiloProyecto.css">
</head>
<body>
    

{{>header}}




<section id="portfolio" class="portfolio">
    <div class="contenido-seccion">
        <br>
        <br>


        <div class="git">
        <a href="https://github.com/EverRamirezUMG/MongoDB.git">
            <img src="./IMG/github.png" class="gitimg" alt="">
            
        </a>
        
    </div>

    <div class="tituloP">
        <h2>MongoDB</h2> 
        <img src="./IMG/MongoDB1.png" alt="" width="50px" height="60px">
    </div>


        <div class="definicion">
            <span>Este proyecto consiste en la creacion de una base de datos en la nube usando MongoDB Atlas y MongoDB compass como intermediario para poder conectarse a la basee de datos en al nube</span>
        </div>

    <div class="videoYoutube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Cge6O2NWMdY?si=IctEts6sMl-5L3wi"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
    
        </iframe>
    </div>
    <br><br><br>

        <div class="galeria">

             
                <div class="proyecto">
               <img src="./IMG/P7/Imagen1.png"  alt="">
              <div class="descripcion">
                    <h3>Conexion de la base de datos en la nube</h3>
                    <p>Conexion de la base de datos desde 
                        MongoDB Compass a MongoDB Atlas
                         a traves de la App78
                    </p>
                </div>
            </div>
        



             <div class="proyecto">
                <img src="./IMG/P7/Imagen2.png"  alt="">
               <div class="descripcion">
                     <h3>Mensajes de confirmaci贸n</h3>
                     <p>Mensaje de confirmacion en la consola de la conexi贸n exitosa de la base de datos en la nube a travez de mongoDB compass</p>
                 </div>
             </div>



             <div class="proyecto">
                <img src="./IMG/P7/Imagen3.png"  alt="">
               <div class="descripcion">
                     <h3>Prueba de las APIs</h3>
                     <p>Probando las APIs a traves de Thunder Client, se probaron todos los metodos: POST, PUT, GET, DELETE, PATCH</p>
                 </div>
             </div>


             <div class="proyecto">
                <img src="./IMG/P7/Imagen4.png"  alt="">
               <div class="descripcion">
                     <h3>Creaci贸n de lo esquemas </h3>
                     <p>Creaci贸n de los esquemas en la base de datos de SuperCafe</p>
                 </div>
             </div>

             <div class="proyecto">
                <img src="./IMG/P7/Imagen5.png"  alt="">
               <div class="descripcion">
                     <h3>Probando las APIs de la App79</h3>
                     <p>Se realizaroin las prubas correspondientes a la API del App79 con los metodos: GET, POST, PUT, DELETE y en una de ellas muestra el mensaje "Hello World" en Thunder Client</p>
                 </div>
             </div>



             <div class="proyecto">
                <img src="./IMG/P7/Imagen6.png"  alt="">
               <div class="descripcion">
                     <h3>Agregando un nuevo usuario</h3>
                     <p>Se creo un nuevo usuario desde Thunder Client enviando los datos necesarios desde un archivo JSON con el metodo POST</p>
                 </div>
             </div>
         
         
             <div class="proyecto">
                <img src="./IMG/P7/Imagen8.png"  alt="">
               <div class="descripcion">
                     <h3>Comprobacin del usuario agregado</h3>
                     <p>Se comprueba desde MongoDB compass el registro del nuevo ususario </p>
                 </div>
             </div>
         
             <div class="proyecto">
                <img src="./IMG/P7/Imagen9.png"  alt="">
               <div class="descripcion">
                     <h3>Verificacion de correo electronico</h3>
                     <p>Se comprueba el correo electronico con la libreria "Express-Validation" para comprobar si el correo ya existe para no crear otro usuario con el mismo correo y si no existe, deja crear un nuevo usuario</p>
                 </div>
             </div>
         
             <div class="proyecto">
                <img src="./IMG/P7/Imagen10.png"  alt="">
               <div class="descripcion">
                     <h3>Creacion de Roles en la base de datos</h3>
                     <p>Se crea la tabla de roles en la base de datos desde al App711 para poder asignar a cada usuario los roles correspondientes</p>
                 </div>
             </div>



        </div>
    </div>
</section>
{{> footer}}
</body>
</html>