<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
     integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="./CSS/normalize.css">
    <link rel="stylesheet" href="./CSS/estiloProyecto.css">
</head>
<body>
    

    <div class="contenedor-header">
        <header>
            <div class="logo">
                <a href="#">Yargs</a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="/" onclick="seleccionar()"><i class="fa-solid fa-house"></i></a></li>
                   
                </ul>
            </nav>
            <div class="nav-responsive" onclick="mostrarOcultarMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
    </div>






<section id="portfolio" class="portfolio">
    <div class="contenido-seccion">
        <br>
        <br>


        <div class="git">
        <a href="https://github.com/EverRamirezUMG/Aplicacion-YARGS.git">
            <img src="./IMG/github.png" class="gitimg" alt="">
            
        </a>
        
    </div>

    <div class="tituloP">
        <h2>Yagrs</h2>
    </div>

        <div class="definicion">
            <span>Este proyecto consiste en el uso de yargs en consola JS</span>
        </div>
        <div class="galeria">

             
                <div class="proyecto">
               <img src="./IMG/P5/01.png"  alt="">
              <div class="descripcion">
                    <h3>Ejecucion de la app16</h3>
                    <p>Ejecucion de la aplicacion de multiplicacion con yargs, mostrando la tabal del 15</p>
                </div>
            </div>
        



             <div class="proyecto">
                <img src="./IMG/P5/02.png"  alt="">
               <div class="descripcion">
                     <h3>Version 1</h3>
                     <p>Versi n1 del archivo yargs y multiplicar</p>
                 </div>
             </div>



             <div class="proyecto">
                <img src="./IMG/P5/03.png"  alt="">
               <div class="descripcion">
                     <h3>Verison 2</h3>
                     <p>Se muestra la version 2 de yargs y la version 3 de la multiplicacion</p>
                 </div>
             </div>


             <div class="proyecto">
                <img src="./IMG/P5/04.png"  alt="">
               <div class="descripcion">
                     <h3>Version 3</h3>
                     <p>Se muestra la version 3 de yargs y la version 6 de la multiplicacion</p>
                 </div>
             </div>

             <div class="proyecto">
                <img src="./IMG/P5/05.png"  alt="">
               <div class="descripcion">
                     <h3>app Version 2 y archivos txt</h3>
                     <p>Se muestra la version 2 del app.js y la cracion de archivos txt en donde contiene las tablas de la multiplicacion</p>
                 </div>
             </div>



             <div class="proyecto">
                <img src="./IMG/P5/06.png"  alt="">
               <div class="descripcion">
                     <h3>Version final app16</h3>
                     <p>Se muestra la version final del archivo app.js y la correccion de los archivos txt</p>
                 </div>
             </div>


             <div class="proyecto">
                <video src="./VIDEO/Yargs.mp4" width="420"  height="240" controls></video>
               <div class="descripcion">
                     <h3>Explicación</h3>
                     <p>En este video se explica como funciona el proyecto</p>
                 </div>
             </div>
          
            
        </div>
    </div>
</section>

</body>
</html>